﻿<div class='container-fluid'>
    <div class="row" flex-wrap>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let brand of brands">
                    <div class="row" flex-wrap>
                        <div class="col-md-10">{{brand.name}}</div>
                        <div class="col-md-2">
                            <div class="row" flex-wrap>
                                <div class="col-md-6">
                                    <i class="material-icons text-center" (click)="selectBrand(brand);">edit</i>
                                </div>
                                <div class="col-md-6">
                                    <i class="material-icons text-center" (click)="onDelete(brand)">delete_sweep</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <add-brand (onCreate)="onCreate($event)" [brand]="brand"></add-brand>
        </div>
    </div>
</div>