﻿<div id="brandTree" class="mx-auto" data-children=".item">
    <div class="item" *ngFor="let brand of brands">
        <a data-toggle="collapse" class="largeFont text-dark" data-parent="#brandTree" href="#brand-{{ brand.id }}" (click)="onChangeBrand(brand)" aria-expanded="false" attr.aria-controls="brand-{{ brand.id }}">
            {{brand.name}}
        </a>
        <div id="brand-{{ brand.id }}" class="collapse" role="tabpanel">
            <div class="w-100" *ngFor="let model of brand.models">
                <button type="button" class="btn btn-link smallFont text-dark" (click)="onChangeModel(model)"> {{ model.name }}</button>
            </div>
        </div>
    </div>
</div>