@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

nav-menu {
    width: 100% !important;
}

home {
    width:100%;
}

brand {
    width:100%;
}


