﻿<div class='container-fluid'>
    <div class="row" flex-wrap>
        <div class="col-md-6">
            <brand-tree (onSelectBrand)="onSelectBrand($event)" (onSelectModel)="onSelectModel($event)" [brands]="brands"></brand-tree>
        </div>
        <div class="col-md-6">
            <add-model (onCreate)="onCreate($event)" (onDelete)="onDelete($event)" [model]="model" [brands]="brands" [brand]="brand"></add-model>
        </div>
    </div>
</div>