<form (ngSubmit)="onSubmit(); brandForm.reset()" #brandForm="ngForm">
    <div class="form-group">
        <label for="brandNameInput">Brand name:</label>
        <input type="text" class="form-control" name="brandName" id="brandNameInput" placeholder="Enter name" [(ngModel)]="brand.name" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="brandForm.form.invalid">Submit</button>
</form>