﻿:host(home) {
    width: 100%
}
.carsWrap {
    margin: 0;
    padding-right: 0 !important;
}
.filterWrap {
    padding-left: 0 !important;
}

.flex-container {
    height:300px;
    display: flex;
    flex-direction: row;
}