<div class="row">
    <div class="col-md-10 d-flex  flex-wrap">
        <div class="p-2 d-flex align-items-start" *ngFor="let car of (cars | carsFilter:filterObj)">
            <car-view [car]="car" (onDelete)="onDelete($event)"></car-view>
        </div>
    </div>
    <div class="col-md-2 filterWrap">
        <filter-view (changeFilter)="changeFilter($event)" [colors]="colors" [engineCapacities]="engineCapacities"></filter-view>
    </div>
</div>

