<form (ngSubmit)="onSubmit()" #carForm="ngForm">
    <div class="form-group">
        <label for="brandInput">Brand:</label>
        <input type="text" class="form-control" id="brandInput" name="brand" [(ngModel)]="car.brand.name" required readonly>
    </div>
    <div class="form-group">
        <label for="modelInput">Model:</label>
        <input type="text" class="form-control" id="modelInput" name="model" [(ngModel)]="car.model.name" required readonly>
    </div>
    <div class="form-group">
        <label for="colorInput">Color:</label>
        <input type="text" class="form-control" id="colorInput" name="color" [(ngModel)]="car.color" required>
    </div>
    <div class="form-group">
        <label for="engineCapacityInput">Engine capacity:</label>
        <input type="number" class="form-control" id="engineCapacityInput" name="engineCapacity"  [(ngModel)]="car.engineCapacity" required  >
    </div>
    <div class="form-group">
        <label for="priceInput">Price:</label>
        <input type="number" class="form-control" id="priceInput" name="price" [(ngModel)]="currentPrice" required>
    </div>
    <div class="form-group">
        <label for="descriptionInput">Description:</label>
        <input type="text" class="form-control" id="descriptionInput" name="description" [(ngModel)]="car.description">
    </div>
    <div class="form-group">
        <image-upload [url]="'api/Photo/UploadFiles'" [extensions]="['jpg']" (uploadFinished)="onUploadFinished($event)"></image-upload>
    </div>
        <button type="submit" class="btn btn-primary" [disabled]="carForm.form.invalid">Submit</button>
</form>

