<form (ngSubmit)="onSubmit(); modelForm.reset();" #modelForm="ngForm" *ngIf="brand">
    <div class="form-group">
        <label for="ModelNameInput">Model name:</label>
        <input type="text" class="form-control" name="ModelName" id="ModelNameInput" placeholder="Enter name" [(ngModel)]="model.name" required>
    </div>
    <div class="form-group" >
        <label for="BrandNameInput">Brand name:</label>
        <input type="text" class="form-control" name="brandName" id="BrandNameInput" value="{{brand.name}}" readonly required/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="modelForm.form.invalid">Submit</button>
        <button type="button" class="btn btn-primary" [disabled]="!model.id" (click)="onDel(); modelForm.reset();">Delete</button>
    </div>
</form>