﻿<div id="accordion" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="largeFont">
                    Brand & Model tree
                </a>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <brand-tree (onSelectBrand)="onSelectBrand($event)" (onSelectModel)="onSelectModel($event)" [brands]="brands"></brand-tree>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
                <a class="collapsed largeFont" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Color
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <autocomplete [data]="colors" [type]="'text'" [placeholder]="" [step]="" (selectFilteringOption)="selectFilteringOption($event)"></autocomplete>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
                <a class="collapsed largeFont" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Engine Capacity
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <autocomplete [data]="engineCapacities" [type]="'number'" [placeholder]="" [step]="0.1" (selectFilteringOption)="selectFilteringOption($event)"></autocomplete>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingFour">
            <h5 class="mb-0">
                <a class="collapsed largeFont" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Price
                </a>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <form (ngSubmit)="onSelectPrice()">
                    <div class="form-group">
                        <label for="priceFromInput">From</label>
                        <input type="number" class="form-control" name="priceFrom" id="priceFromInput" placeholder="Enter price" [(ngModel)]="priceFrom">
                    </div>
                    <div class="form-group">
                        <label for="priceToInput">To</label>
                        <input type="number" class="form-control" name="priceTo" id="priceToInput" placeholder="Enter price" [(ngModel)]="priceTo">
                    </div>
                    <div class="form-group">
                        <label for="dateInput">Date</label>
                        <input type="date" class="form-control" name="date" id="dateInput" [(ngModel)]="date">
                    </div>
                    <button type="submit" class="btn btn-primary">Ok</button>
                </form>
            </div>
        </div>
    </div>
</div>
