﻿<div class="container">
    <div class="input-field col s12">
        <input id="autocomplete" type="{{type}}" class="form-control" [(ngModel)]=query (keyup)=filter() placeholder="{{placeholder}}" step="{{step}}">
    </div>
    <div class="list-group" *ngIf="filteredData.length > 0" >
        <ul *ngFor="let item of filteredData">
            <li>
                <a (click)="select(item)">{{item}}</a>
            </li>
        </ul>
    </div>
</div>  