<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">CarsCatalog</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/brand" href="#">Brand</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/model" href="#">Model</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="car/create/-1">New Car</a>
            </li>
        </ul>
    </div>
</nav>