<div class='container-fluid'>
    <div class="row" flex-wrap *ngIf="car">
        <div class="col-md-6">
            <brand-tree (onSelectBrand)="onSelectBrand($event)" (onSelectModel)="onSelectModel($event)" [brands]="brands" *ngIf="mode == 'edit' || mode == 'create'"></brand-tree>
            <car-photos [photos]="car.photos" *ngIf="mode == 'view'"></car-photos>
        </div>
        <div class="col-md-6">
            <edit-info [car]="car" (onEditCar)="onEditCar($event)" *ngIf="car && (mode == 'edit' || mode == 'create')" ></edit-info>
            <view-info [car]="car" *ngIf="mode == 'view'"></view-info>
        </div>
    </div>
</div>