@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

nav-menu {
    width: 100% !important;
}

home {
    width:100%;
}

brand {
    width:100%;
}

.active {
    height: 750px;
    display: flex;
    overflow: hidden;
}

.active img {
   width: 100%;
   margin: auto;
   margin-top: 0;
}
