<div id="photoControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item img-thumbnail" *ngFor="let photo of photos; let i = index" [ngClass]="{'active' : i==0}" >
            <img class="d-block w-100" src="{{photoUrl + photo.name}}"  alt="" >
        </div>
    </div>
    <a class="carousel-control-prev" href="#photoControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#photoControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>