<div class="col-md-12">
    <ul class="list-group">
        <li class="list-group-item disabled">Car information:</li>
        <li class="list-group-item">
            <div class="col-md-3">Brand:</div>
            <div class="col-md-9">{{car.brand.name}}</div>
        </li>
        <li class="list-group-item">
            <div class="col-md-3">Model:</div>
            <div class="col-md-9">{{car.model.name}}</div>
        </li>
        <li class="list-group-item">
            <div class="col-md-3">Color:</div>
            <div class="col-md-9">{{car.color}}</div>
        </li>
        <li class="list-group-item">
            <div class="col-md-3">Engine capacity:</div>
            <div class="col-md-9">{{car.engineCapacity}}</div>
        </li>
        <li class="list-group-item">
            <div class="col-md-3">Price:</div>
            <div class="col-md-9">{{carPrice}}</div>
        </li>
        <li class="list-group-item">
            <div class="col-md-3">Description:</div>
            <div class="col-md-9">{{car.description}}</div>
        </li>
        <li class="list-group-item">
            <div class="col-md-3">All Prices:</div>
            <div class="col-md-9">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let price of car.prices">
                        <div class="col-md-6">{{formatDate(price.date)}}</div>
                        <div class="col-md-6">{{formatPrice(price.sum)}}</div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
