﻿:host(car-view) {
    border: #adaaaa 1px solid;
    background-color: #f8f9fa;
}
.img-thumbnail {
    height: 200px;
    display: flex;
    overflow: hidden;
}

.img-thumbnail img {
    width: 100%;
    margin: auto;
    margin-top: 0;
}

.carWraper {
    width:250px;
    margin: 0px 15px 0px 15px;
}
.card {
    margin-left:60px;
}

nav > a {
    color: black;
    font-size: 17px;
    font-variant: small-caps;
}

nav {
    width: 100%;
}
a, i, .priceText {
    color: black;
    font-size: 17px;
    font-variant: small-caps;
    font-style: normal;
}

i:hover {
   cursor: pointer;
}
