﻿<div class="row carWraper">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="car/view/{{car.id}}">{{car.model.name}}</a>
    </nav>
    <div class="img-thumbnail">
        <img src="{{partPhotos + photo}}">
    </div>
    <div class="d-flex flex-wrap-reverse">
        <div class="p-2 d-flex priceText">
            Price:
        </div>
        <div class="p-2 d-flex priceText">
            {{carPrice}}
        </div>
    </div>
    <div class="d-flex flex-wrap-reverse">
        <div class="p-2 d-flex">
            <a href="car/edit/{{car.id}}" class="card-link">Edit</a>
        </div>
        <div class="p-2 d-flex">
            <a href="car/view/{{car.id}}" class="card-link">View</a>
        </div>
        <div class="p-2 d-flex">
            <i (click)="deleteCar(car)" class="card-link">Delete</i>
        </div>
    </div>
</div>


<!--<div class="card mb-3" style="max-width: 20rem;">
    <div class="card-header">{{car.brand.name + ' ' + car.model.name}}</div>
    <div class="img-thumbnail">
        <img class="card-img-top" src="{{partPhotos + photo}}" alt="Card image cap">
    </div>
    <div class="card-body text-dark">
        <h4 class="card-title">{{carPrice}}</h4>
        <p class="card-text">{{carDescription}}</p>
        <a href="car/edit/{{car.id}}" class="card-link">Edit</a>
        <a href="car/view/{{car.id}}" class="card-link">View</a>
        <i  (click)="deleteCar(car)" class="card-link">Delete</i>
    </div>
</div>-->
